*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.box1{
    height: 200px;
    width: 10%;
    background-color: blue;
}
.box2{
    height: 200px;
    width: 10%;
    background-color: blueviolet;
}
.box3{
    height: 200px;
    width: 10%;
    background-color: aqua;
}
.box4{
    height: 200px;
    width: 10%;
    background-color: aquamarine;
}
.box5{
    height: 200px;
    width: 10%;
    background-color: burlywood;
}