*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 50%;
    height: 250px;
    background-color: cadetblue;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.round{
    height: 50px;
    width: 50px;
    background-color: burlywood;
    border-radius: 50%;
    position: absolute;
    left: 95%;
    top: -8%;
}